/*botones mostrar en el calendario*/

.botones-mostrar-calendario{
    width: 202.41px;
    height: 135.15px;
}

.boton-calendario img{
    width: 100%;
    height: 100%;
}

.boton-calendario{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.h2-boton-calendario{
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    inset: 0;
    text-align: center;
    z-index: 2;
}

.h2-boton-calendario h2{
    padding: 5px 10px;
    background-color: #FFE822;
    font-size: 20px;    
}

.boton-calendario::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#7a398cb9; 
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.boton-calendario:hover::before{
    opacity: 1;
}

.centrar-contenido-eventos-sup{
    display: flex;
    justify-content: center;
    margin: 30px 90px 50px;
}

.h2-espacio-comunidad h2{
    font-size: 20px;
    padding-bottom: 30px;

}

.contenido-parte-sup-comunidad{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.seccion-mostrar-calendario{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

/* NAV CALENDARIO */

.botones-visualizacion-calendario{
    background-color: #FFE822;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 64px;
}

.botones-visualizacion-calendario a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    z-index: 1;
    font-size: 17px;
    height: 64px;
    width: 143px;
    transition: 0.4s;
}

.botones-visualizacion-calendario a:hover{
    background-color: #7A398C;
    color: #fff;
}

.menu-calendario{
    position: relative;
}

.lineas-deco{
    position: absolute;
    bottom: 5px;
    height: 64px;
    width: 100%;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

/* CALENDARIO */
.calendario{
    background-image: url(../imagenes/background/4.png);
    background-size: cover;
    padding: 50px 90px;
}

.contenedor-grid-calendario,
.contenedor-boton-vermas{
    display: flex;
    justify-content: center;
}

#boton-calendario{
    border-bottom: #7A398C 10px solid;
    transition: 0.4s;
}
   
#boton-calendario:hover{
    border-bottom: #FFE822 10px solid;
}

.grid-calendario{
    width: 1100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 70px;
    margin: 40px;
    place-items: center;
}

.info-calendario{
   width: 216px;
   height: 231px;
}

.seleccion-acutal{
    background-color: #ffffff94;
    width: 200px;
    padding: 15px;
}

.seleccion-acutal ul{
    list-style-type: none;
    text-align: center;
    margin-top: 10px;
}

.seleccion-acutal ul li{
    padding: 10px;
}

.relativo-border{
    position: relative;
}

.border-mes{
    position: absolute;
    bottom: 8px;
    width: 190px;
    height: 20px;
    border-bottom: #FFE822 7px solid;
}
.relativo-border h1{
    font-size: 70px;
    font-weight: 900;
}

.contenedor-dia{
    width: 216px;
    height: 231px;
    background-color: #fff;
}

.franja-horaria1{
    position: relative;
}

.dia{
    position:absolute;
    top: -15px;
    right: -10px;
    width: 216px;
    height: 44px;
    font-size: 32px;
    font-weight: 600;
    text-align: right;
    padding: 3px 15px;
}

.margin-top-contenido-calendario{
    padding: 40px 20px 0px;
}

.lila-dia{
    background-color: #7A398C;
    color: #fff;
}

.amarillo-dia{
    background-color: #FFE822;
    color: #000;
}

.negro-dia{
    background-color: #000;
    color: #fff;
}

.actividad :first-child{
    font-size: 15px;
    font-weight: 100;
}

.nombre-actividad {
    font-size: 16px;
    font-weight: 500;
}

.actividad{
    display: flex;
    justify-content: space-between;
}

.boton-mas-cal a{
    display: block;
}

.boton-mas-cal{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin: 8px 0px;
    border-bottom: #000 1px solid;
}

.boton-mas-cal img{
    width: 20px;
}

/*CAMBIOS GENERALES*/

.comunidad-eventos-fn div div h1{
    font-weight: 700;
}

.comunidad-eventos-fn div div span{
    font-weight: 100;
}

.visualicacion-dia{
    display: none;
}

/*footer*/
.grid-botones-foot{
    background-color: #7A398C;
  }

/* RESPONSIVE */
@media(max-width:1200px){
    .lineas-deco{
        display: none;
    }

    .seccion-calendario{
        padding-bottom: 20px;
        background-color: #7a398c1e;
    }

    .h2-boton-calendario h2{
        font-size: 14px;    
    }

    .botones-mostrar-calendario{
        width: 155.7px;
        height: 103.96px;
    }

    .centrar-contenido-eventos-sup{
        margin: 20px 20px;
    }

    .seccion-mostrar-calendario{
        justify-content: center;
    }

  
    .calendario{
        padding: 0px;
        background-image: none;
    }
}

