/* info completa libro*/
.portada{
    margin-bottom: 0px;
    width: 100%;
}

.info-libro-tienda{
    width: 100%;
}

/* botones secciones web*/
.botones-general{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 180px;
    margin-top: 40px;
    text-decoration: none;
    padding: 15px 20px;
    background-color: #fff;
    width: 220px;
    height: 86px;
    font-size: 20px;
    font-weight: 600;
    transform: rotate(-2deg);
    border: #7A398C 1px solid;
    border-bottom: #7A398C 8px solid;
   }
  
   .botones-general:hover{
    background-color: #FAE9FF;
    transition: 0.4s;
   }
   
   .botones-general:active{
    background-color: #7A398C;
    color: #fff;
   }
   
   .ver-mas-estandar{
    padding-bottom: 3px;
    border-bottom: #fff 10px solid;
   }

/* boton ver más*/
   .ver-mas-estandar img{
    width: 120px;
   }
   
   .ver-mas-estandar:hover{
    padding-bottom: 3px;
    border-bottom: #7A398C 10px solid;
    transition: 0.4s;
   }

/*bredcrumbs*/
.breadcrumbs ul{
    list-style-type: none;
    display: flex;
    margin: 30px 0px 0px 50px;
    gap: 15px;
   }

/*RESPONSIVE COMPONENTES*/

@media(max-width: 978px){
/*bredcrumbs*/
.breadcrumbs{
    font-size: 12px;
}

.breadcrumbs ul{
    margin: 10px 0px 0px 50px;
   }

}