  /* INTRODUCCIÓN A LA FILOSOFÍA - tienda */
  /* OPCIONES VISUALIZACIÓN */
  .opciones-visualizacion{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin: 0 50px;
   }
 
 
   .visualizacion1{
    width: 50px;
    height: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 3px;
   }
 
 
   .visualizacion2{
    width: 50px;
    height: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 3px;
   }
 
 
   .visualizacion1:hover, .visualizacion2:hover{
    opacity: .8;
   }
 
 
   .visualizacion1 :nth-child(1){
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: #7A398C;
   }
 
 
   .visualizacion1 :nth-child(2),
   .visualizacion1 :nth-child(3){
    background-color: #7A398C;
   }
 
 
   .visualizacion2 :nth-child(1),
   .visualizacion2 :nth-child(2){
    background-color: #7A398C;
    grid-row: 1/4;
   }
 
 
   .visualizacion2 :nth-child(3),
   .visualizacion2 :nth-child(4){
    background-color: #7A398C;
    grid-row: 4/5;
   }
 
   /* GRID NOVEDADES */ 
   .posicion-grid-novedades{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   }
 
   .grid-novedades{
    display: grid;
    margin: 50px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
    max-width: 90%;
   }
 
   .centrar-item{
    display: flex;
    justify-content: center;
   }
 
 
   .portada-comun{
    position: relative;
   }
 
 
   .grid-novedades :nth-child(2){
    grid-column: span 2;
    grid-row: span 2;
   }
 
 
   .grid-novedades :nth-child(6){
    grid-column: span 2;
    background-color: #7A398C;
    color: #fff;
   }
 
 
   .grid-novedades .ficha{
    background-color: #FFE822;
   }
 
 
   .ficha-formato{
    width: 100%;
   }
 
 
   .me-gusta-tienda{
    position: absolute;
    top: -20px;
    left: -20px;
   }
 
 
   .portada-tienda{
    width: 100%;
   }
 
 
   .centrar-info-novedades{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
 
 
   .info-comunidad-novedades{
    align-items: center;
   }
 
 
   .info-comunidad-novedades ul{
    margin: 20px;
   }
 
 
   .info-comunidad-novedades ul a{
    text-decoration: none;
   }
 
 
   .info-comunidad-novedades ul a li{
    font-size: 20px;
    font-weight: 500;
    color: #000;
    text-align: center;
    list-style-type: none;
    padding: 10px;
    margin-top: 10px;
   }
 
 
   .info-comunidad-novedades ul li{
    background-color: #FFE822;
    transition: 0.4s;
   }
 
 
   .info-comunidad-novedades ul li:hover{
    background-color: #fff;
    color: #7A398C;
   }
 
 
   .info-comunidad-novedades .ver-mas-estandar:hover{
    border-bottom: #000 10px solid;
    }
 
 
    .posicion-grid-novedades .ver-mas-estandar{
    border-bottom: #FFE822 10px solid;
    }
 
 
    /*GRID NOVEDADES RESPONSIVE*/
    @media(max-width:1200px){
 
 
        .info-comunidad-novedades,
        .opciones-visualizacion,
        .posicion-grid-novedades .ver-mas-estandar{
            display: none;
        }
 
 
        .posicion-grid-novedades{
            justify-content: flex-end;
        }
 
 
        .portada-comun{
            width: 270px;
        }
 
 
        .grid-novedades{
            display: flex;
            align-items: center;
            overflow: auto;
            margin: 40px 0px 30px 20px;
        }
    }
 
 
    /* TIENDA PRINCIPAL */
    .tienda-principal{
        background-color: #ffe9222a;
    }

    .now-tienda{
     font-weight: 100;
    }
 
    .contenedor-tienda-principal{
        display: flex;
        justify-content: space-between;
    }
 
    .contenedor-grid-tienda{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 60px 40px;
    }
 
    .sup-tienda{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }
 
/*PAGINACIÓN*/

    .paginacion-tienda ul{
     list-style-type: none;
    }
 
    .paginacion-tienda ul li{
     display: inline;
     margin: 0px 20px;
    }
 
    .paginacion-tienda {
     align-items: center;
     display: flex;
    }
 
    .paginacion-tienda{
     justify-content: center;
     gap: 30px;
     margin-top: 40px;
    }
    .boton-rotado-paginacion{
        transform: rotate(-180deg);
    }
 
    .paginacion-tienda a img{
        width: 80px;
    }

    .paginacion-tienda ul a{
        display: inline-block;
        text-decoration: none;
        font-weight: 700;
        font-size: 25px;
        background-color: #f9deff;
        width: 40px;
        height: 40px;
        text-align: center;
    }

    .paginacion-tienda ul a:hover{
        background-color: #fff6a7;
    }


/*componente libro tienda*/

    #libros-grid-tienda,
    #portada-tienda{
        width: 100%;
        height: 100%;
        margin-top: 0;
    }

    #carrito{
        width: 50px;
    }


/* GRID TIENDA */
.grid{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

/* botones */
    .boton-filtro img,
    .seleccionado img,
    .boton-ordenar img{
        width: 15px;
    }
 
    .boton-filtro,
    .ordenar-por,
    .boton-ordenar{
        display: flex;
        justify-content: space-between;
        cursor: pointer;
    }
 
    .ordenar-por{
     align-items: center;
     font-size: 14px;
    }
 
    .boton-ordenar{
     width: 210px;
     margin-left: 40px;
     border: #7A398C 1px solid;
     padding: 20px 10px;
     background-color: #fff;
    }
 
    .boton-ordenar a{
     text-decoration: none;
    }
 
    .boton-ordenar:hover{
     background-color: #7a398c45;
    }
 
 
    /* ASIDE */
    .opciones-tienda{
     width: 320px;
     display: flex;
     flex-direction: column;
     border-right: 3px #FFE822 solid;
     gap: 60px;
     background-color: white;
     padding-top: 120px;
     padding-left: 50px;
    }
 
    .opciones-tienda h1, .sup-tienda h1{
     font-size: 30px;
    }

    .sup-tienda h1{
        background-color: #7A398C;
        color: #fff;
        padding: 20px 100px;
    }
 
    .opciones-tienda h1{
     border-bottom: #7A398C 6px solid;
     margin-bottom: 20px;
    }
 
    .opciones-tienda ul{
     list-style-type: none;
    }
 
    .opciones-tienda a{
     text-decoration: none;
    }
 
    .categorias-tienda ul a,
    .filtros-tienda div a{
     display: block;
     margin: 10px 0px;
     font-size: 16px;
     border-bottom: #FFE822 1px solid;

    }

    .categorias-tienda ul a{
     margin: 20px 0px;
    }
 
    .categorias-tienda ul a:hover, 
    .categorias-tienda a:hover,
    .filtros-tienda div:hover{
     border-bottom: 1px #7A398C solid;
     cursor: pointer;
    }
 
    .filtros-tienda div{
     margin-right: 30px;
     padding: 20px 20px 20px 0px;
    }

    .seleccionado img{
        transform: rotate(-90deg);
    }

    /*tags autores*/

    .tags-tienda{
        display: flex;
        justify-content: center;
        margin: 50px 50px 60px;
        flex-wrap: wrap;
    }
    .tags-tienda a{
        width: 200px;
    }

    /* footer */
    .grid-botones-foot{
        background-color: #7A398C;
      }
 
   /* RESPONSIVE */
 @media(max-width: 978px){
    /* HEADER */
 .visualizacion1, .visualizacion2, .opciones-tienda{
    display: none;
 }

 .sup-tienda{
    flex-direction: column;
 }

 .sup-tienda h1{
    padding: 10px;
 }

  
 #libros-grid-tienda {
    width: 200px;
    margin-top: 0;
}
 }
 
 